#email{
  margin-bottom: 10px;
}
#section2{
margin-bottom: 30px;
  margin-left: 20%;
  border: 2px solid red;
}
.p_main select{
    width: 250px;
    margin-bottom: 10px;
}
#submit{
  border: 2px solid  black;
  box-shadow: 3px 5px 8px green;
}
.p_main input{
  margin-bottom: 10px;
  width: 250px;
}
.p_main{
  background-color:  #9cdcef;
  margin-top: 50px;
}
.p_main h1{
  margin-left: 500px;
}

#msg{
  font-family: sans-serif;
  margin-bottom: 20px;
  margin-left: 1%;
  color: red;
  font-size: 16;
}
#mail{
float: left;
margin-left: 50px;
}
#bar{
  border:2px solid grey;
  font-size: 18;
}
#btn{
  margin-bottom: 3px;
}
#section1{
  border:2px solid grey;
  margin-right: 80%;
  margin-left: 1%;
  float: left;
}
#logout{
  position: relative;
  margin-left: 85%;
}

#main{
		margin-top: 40px;
		margin-right: 30px;
		margin-left: 30px;
		border:2px solid grey;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #cbf0d4 ;
		border-radius: 5px;
		box-shadow: 3px 2px 6px green;
}
#login-btn{
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: #f46f30;
}
h1{
  margin-left: 100px;
}
#img{
  margin-left: 300px;
  margin-bottom: -20px;
  padding-bottom: 0px;
  height: 1px;
  width: 10px;
}

#img1{
    margin-left: -10px;
    margin-bottom: 10px;
    position: absolute;
    margin-top: 10px;
}
#img2{
  margin-left: 10px;
  float: left;
  position: absolute;
}
#dem{
  margin-left: 300px;
}
#log{
  margin-left: 390px;
  margin-right: 300px;
  margin-top: -90px;

}
#log1{
  margin-left: 480px;
  margin-right: 300px;
  margin-top: -90px;

}
input{
  height: 35px;h1{
    margin-left: 100px;
  }
  width: 350pxadius: 5px;
  font-size: 17px;
  boxshadw: 2px 0px bottomck-2
}

im
  borderrelativersight: 1px;
width: 10px;;
